#layer2 section{
    background-color: black;
    border-color: red;
    color: red;
}

.centered {
    display: flex;
    justify-content: center;
  }
  
  .spawn button{
    margin: 0px 10px;
    background-color: black;
    border-color: red;
    color: red;
    font-family: 'Courier New', Courier, monospace;
  }

