#layer5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    margin: 0;
}

.container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input#code {
    width: 240px;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    background-color: black;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: black;
    border: solid red;
    padding: 20px;
    border-radius: 10px;
}

.key {
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    border: 2px solid red;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.key:hover {
    background-color: red;
    box-shadow: 0 4px 8px white(0, 0, 0, 0.2);
}

#clear {
    grid-column: span 2;
    background-color: red;
    color: black;
}

#enter {
    grid-column: span 2;
    background-color: red;
    color: black;
}

#clear:hover {
    background-color: black;
    color: red;
}

#enter:hover {
    background-color: black;
    color: red;
}
.flash {
    background-color: white !important;
}

