#myDiv {
    margin: auto;
    width: 90%;
    height: 80vh;
    border: solid red;
    align-items: center;
    display: flex;
    justify-content: center;

}
@keyframes cycleBackground {
    25% { background-image: url('../img/BrokenGlass.PNG'); }
    50% { background-image: url('../img/JudgingEyes.png'); }
    75% { background-image: url('../img/WOMPWOMP.png'); }
    100% { background-image: url('../img/StaryDream.png'); }
  }
  
#layer3 {
      animation-name: cycleBackground;
      animation-duration: 5s;
      animation-iteration-count: infinite;
  }