#myDiv {
    margin: auto;
    width: 90%;
    height: 80vh;
    border: solid #912123; 
    align-items: center;
    display: flex;
    justify-content: center;

}
@keyframes cycleBackground {
    0% { background-image: url('../img/SpookyEyes.jpeg'); }
    50% { background-image: url('../img/crazy.jpeg'); }
    75% { background-image: url('../img/StaryDream.png') }
    100% { background-image: url('../img/IMG_5458.jpeg'); }
  }
  
#layer3 {
    font-family: 'Gill Sans';
  }

#factButton1,#factButton2,#factButton3,#factButton4{
  display:block;
}