body,#content {
  background-color: #0a0b0e;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #531516;
    background-color: #0a0b0e;
  }

#output {
  padding: 10px;
  margin-bottom: 10px;
}

p{
  color:#912123;
}

button {
  margin-bottom: 5px;
}

.text p {
  display: inline-block;
  max-width: 60%;
  border-radius: 15px;
  padding: 8px;
  background-color: #0a0b0e;
  color: #912123;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14.2px;
  line-height: 19px;
  text-shadow: 0 0 10px 2px;
}

#myProgress {
  width: 1000px;
  background-color: #5d6274;
  margin-bottom: 15px;
}

#myBar {
  width: 0;
  height: 30px;
  border: #531516;
  background-color: #531516;
}

#audio-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

/* tryna figure out how to make it look more clicky? */
#audio-button.active {
  transform: translateY(4px);
}

#audio-img {
  max-width: 30px
}

