*, *::before, *::after {
    box-sizing: border-box;
  }

h1 {
    text-align: center;
    color: #ffffff;
}

body {
    background-color: #0a0b0e;
}

.layers{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color:#0a0b0e;
  border: solid #ff0000;
  color: #ff0000;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

button {
    margin: 0px 10px;
    background-color: #0a0b0e;
    border-color: #531516;
    color: #ff0000;
    font-family: 'Courier New', Courier, monospace;
}