*, *::before, *::after {
  box-sizing: border-box;
}

#text-four{
  color:#c1c9e0;
}

#layer4 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-color: #0a0b0e;
  color: #912123;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: #0a0b0e;
  border-color: #531516;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  align-items: center;
}

.btn-grid {
  display: grid;
  grid-row: repeat(1, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: #0a0b0e;
  border: 1px solid #531516;;
  border-radius: 5px;
  padding: 5px 10px;
  color: #912123;
  outline: none;
  max-width: 200 px;
  font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
  border-color: #0a0b0e;
  background-color: #912123;
  color: #0a0b0e;
}

.centered4 {
  display: flex;
  justify-content: center;
  margin: 150px;
}