#the-worldo {
    background-color: black;
    border-color: red;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: black;
    border-color: red;
    font-family: 'Courier New', Courier, monospace;
}