*, *::before, *::after {
  box-sizing: border-box;
}

#text-four{
  color:aliceblue;
}

#layer4 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  border: solid red;
  color: red;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: black;
  border-color: red;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  align-items: center;
}

.btn-grid {
  display: grid;
  grid-row: repeat(1, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: black;
  border: 1px solid red;;
  border-radius: 5px;
  padding: 5px 10px;
  color: red;
  outline: none;
  max-width: 200 px;
  font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
  border-color: black;
  background-color: red;
  color: black;
}

.centered4 {
  display: flex;
  justify-content: center;
  margin: 150px;
}